.showCaseProjectTitle-appear {
    opacity: 0;
    transform: translate(0, 70px)
}
  
.showCaseProjectTitle-appear.showCaseProjectTitle-appear-active {
    /* transform: translateY(-3em); */
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s all ease-in;
}

.showCaseProjectDescription-appear {
    opacity: 0;
    transform: translate(0, 50px)
}
  
.showCaseProjectDescription-appear.showCaseProjectDescription-appear-active {
    /* transform: translateY(-3em); */
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s all ease-in .1s;
}

.showCaseProjectMoreInfoButton-appear {
    opacity: 0;
    transform: translate(0, 30px)
}
  
.showCaseProjectMoreInfoButton-appear.showCaseProjectMoreInfoButton-appear-active {
    /* transform: translateY(-3em); */
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s all ease-in .2s;
}

.componentImage-appear {
    opacity: 0;
    padding-top: 10em;
  }
  
  
  .componentImage-appear.componentImage-appear-active {
    /* transform: translateY(-3em); */
    opacity: 1;
    padding-top: 0;
    transition: all .7s ease-in;
  }