.showCaseProjectTitle-appear {
    opacity: 0;
    transform: translate(0, 70px)
}
  
.showCaseProjectTitle-appear.showCaseProjectTitle-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: .6s all ease-in;
}

.showCaseProjectDescription-appear {
    opacity: 0;
    transform: translate(0, 50px)
}
  
.showCaseProjectDescription-appear.showCaseProjectDescription-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s all ease-in .1s;
}

.showCaseProjectMoreInfoButton-appear {
    opacity: 0;
    transform: translate(0, 30px)
}
  
.showCaseProjectMoreInfoButton-appear.showCaseProjectMoreInfoButton-appear-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: .5s all ease-in .2s;
}

.componentImage-appear {
    opacity: 0;
    padding-top: 5em;
    /* transform: translate(0, 70px); */
}
  
.componentImage-appear.componentImage-appear-active {
    opacity: 1;
    padding-top: 0;
    /* transform: translate(0, 0); */
    transition: .6s all ease-in;
}