.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.introComponent-appear {
  opacity: 0;
}

.introComponent-appear.introComponent-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}


.navBar-appear {
  opacity: 0;
}

.navBar-appear.navBar-appear-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.navBar-enter {
  opacity: 0;
}

.navBar-enter.navBar-enter-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.navBar-exit {
  opacity: 1;
}

.navBar-exit.navBar-exit-active {
  /* transform: translateY(-3em); */
  opacity: 0;
  transition: all .3s ease-in;
}


.projectComponent-appear {
  opacity: 0;
}

.projectComponent-appear.projectComponent-appear-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.projectComponent-enter {
  opacity: 0;
}

.projectComponent-enter.projectComponent-enter-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.projectComponent-exit {
  opacity: 1;
}

.projectComponent-exit.projectComponent-exit-active {
  /* transform: translateY(-3em); */
  opacity: 0;
  transition: all .3s ease-in;
}