.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.introComponent-appear {
  opacity: 0;
}

.introComponent-appear.introComponent-appear-active {
  opacity: 1;
  transition: all .5s ease-in;
}

.componentImage-appear {
  opacity: 0;
  padding-top: 10em;
}


.componentImage-appear.componentImage-appear-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  padding-top: 0;
  transition: all .7s ease-in;
}

.componentText-appear {
  opacity: 0;
  padding-top: 3em;
}

.componentText-appear.componentText-appear-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  padding-top: 0;
  transition: all .7s ease-in;
}

.navBar-appear {
  opacity: 0;
}

.navBar-appear.navBar-appear-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.navBar-enter {
  opacity: 0;
}

.navBar-enter.navBar-enter-active {
  /* transform: translateY(-3em); */
  opacity: 1;
  transition: all .3s ease-in;
}

.navBar-exit {
  opacity: 1;
}

.navBar-exit.navBar-exit-active {
  /* transform: translateY(-3em); */
  opacity: 0;
  transition: all .3s ease-in;
}
