.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-component {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 
}
.example-component.show {
    opacity: 1;
    visibility: visible; 
}

.app-transition-appear {
  opacity: 0;
  background-color: antiquewhite;
}

.app-transition-appear.app-transition-appear-active {
  opacity: 1;
  background-color: aqua;
  transition: all .75s ease;
}

.header {
  background-color: blanchedalmond;
}